// base stylesheet
// put @import 'base'; at top of each scss file
@import 'lib';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean');

// Colors
$primary: #3cbcb2;
$white: #ffffff;
$black: #222222;
$inactive: #cccccc;
$warn: #ead97c;
$error: #ea917c;

// Font sizes
$fz1: 2rem;
$fz2: 1.625rem;
$fz3: 1.5rem;
$fz4: 1.25rem;
$fz5: 1.125rem;
$fz6: 1rem;
$fz7: 0.875rem;

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
  outline: none;
}

img {
  object-fit: contain;
}

button {
  outline: none;
  border: none;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}
